<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<variable name="configrd.log.level" value="${configrd.log.level:-DEBUG}" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="io.configrd" level="${configrd.log.level}" />
	

	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>